html, body {
  background: linear-gradient(180deg, #f88d0e 10%, #232528 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #000402;
  border-right: 2px solid grey;
  padding-top: 50px;
  display: inline-block;
  position: fixed;
}

.screen {
  display: inline-block;
  color: azure;
  position: absolute;
  margin-left: 24%;
}

.sidebar ul li {
  list-style-type: none;
  font-size: 19px;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 15px;
  margin-left: 30px;
  text-decoration: none;
}

.sidebar ul span {
  position: absolute;
  left: 35px;
  /* margin-top: 5px;s */
}

.tabs {
  text-decoration: none;
  color: azure;
}

.oryn span {
  margin-left: 30px;
  top: 50px;
  position: absolute;
}

.oryn {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  /* margin-top: 50px; */
  margin-bottom: 50px;
}

.oryn b {
  margin-left: 70px;
}

.oryn .oryn-link {
  text-decoration: none;
  color: azure;
  /* margin-top: 60px; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

.user {
  position: fixed;
  background-color: #000402;
  top: 5%;
  right: 10px;
  border-radius: 20px;
  border: 2px solid grey;
  cursor: pointer;
  padding: 10px;
  padding-left: 42px;
  box-shadow: 0px 3px 6px 2px rgb(20, 20, 20);
  z-index: 10;
}
.user a {
  color: azure;
  text-decoration: none;
}

.user-img {
  position: absolute;
  border-radius: 50%;
  right: 110px;
  top: 4px;

}

#no-user-img {
  right: 70px;
}

.album {
  border-radius: 10px;
  width: 200px;
  height: 270px;
  background-color: rgba(53, 57, 61, 0.6);
  background-blend-mode: lighten;
  padding: 10px;
  margin: 15px;
  transition: .2s padding ease-out;
}

.play-btn {
  background-color: #f88d0e;
  position: absolute;
  border-radius: 50%;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding: 10px 12px;
  margin-left: 140px;
  margin-top: 140px;
  cursor: pointer;
  margin-right: 50%;
  z-index: 3;
  display: block;
}

.music-card {
  border-radius: 10px;
  width: 200px;
  height: 270px;
  background-color: rgba(53, 57, 61, 0.6);
  background-blend-mode: lighten;
  padding: 10px;
  margin: 15px;
  transition: .2s padding ease-out;
}

.music-card:hover {
  padding: 15px;
  box-shadow: 2px 1px 7px 4px rgba(20, 20, 20, 0.6);
}

.music-card img {
  border-radius: 10px;
  border-bottom: #f88d0e 6px solid;
}

.music-card a {
  text-decoration: none;
  color: azure;
  font-weight: bold;
}

.album:hover {
  padding: 15px;
  box-shadow: 2px 1px 7px 4px rgba(20, 20, 20, 0.6);
}

.album img {
  border-radius: 10px;
  border-bottom: #f88d0e 6px solid;
}
.album a {
  text-decoration: none;
  color: azure;
  font-weight: bold;
}
.album i {
  font-weight: lighter;
  font-size: 15px;
}

#logout {
  display: none;
  position: absolute;
  top: 50px;
  right: 12%;
  background-color: #000402;
  padding: 6px;

}
#search {
  margin-top: 5%;
}
#search-bar {
  top: 20px;
  background-color: azure;
  width: 360px;
  height: 40px;
  border-radius: 23px;
  border: none;
  position: fixed;
  margin-left: 50px;
  box-shadow: 0px 2px 8px 3px rgba(20, 20, 20, 0.6);
  z-index: 10;
}

#search #search-icon {
  position: absolute;
  left: 5px;
  top: 5px;
}

#search-bar input {
  background-color: transparent;
  outline: none;
  border: none;
  height: 100%;
  margin-left: 40px;
  font-weight: bold;
  width: 83%;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.pagination {
  position: fixed;
  font-size: 150px;
  font-weight: bold;
  color: rgba(53, 57, 61, 0.6);
  cursor: pointer;
  z-index: 5;
}

.pagination:hover {
  text-shadow: 4px 0px 7px azure;
}

#next {
  margin-left: 69%;
  margin-top: 15%;
}

#prev {
  margin-top: 15%;
  margin-left: -50px;
}

.music-bar {
  position: fixed;
  bottom: 0;
  z-index: 15;
  background-color: #232528;
  height: 12%;
  width: 100%;
}

.status-bar {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25%;
  margin-top: 30px;
}
.status-bar img {
  margin: 0 10px;
}
.music-bar input {
  width: 600px;
  height: 7px;
  margin-left: 10%;
  margin-top: 8px;
}
.music-bar #track-info {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  color: azure;
  margin-left: 20px;
  margin-top: 10px;
}
#track-title {
  margin-left: 16px;
  margin-top: 10px;
}
#track-title span {
  font-size: 12px;
}
.music-bar input::-webkit-slider-thumb {
  width: 12px;
  height: 10px;
}

.music-bar input::-webkit-slider-runnable-track {
  height: 2px;
}

#device-btn {
  background-image: url('assets/vol.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 60px;
  padding: 10px;
  margin-top: -25px;
  cursor: pointer;
}

.device-list-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 10;
}

.device-list {
  background-color: rgb(35, 37, 40, 0.7);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  position: absolute;
  margin-left: 35%;
  margin-top: 10%;
  width: 350px;
  height: 250px;
  color: azure;
  z-index: 10;
  text-align: center;
}

.device-list ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.device-list li {
  margin: 5px;
  cursor: pointer;
  width: 96%;
  padding: 4px;
}

.device-list li:hover {
  background-color: azure;
  color: #232528;
}

.device-type {
  width: 72px;
  height: 72px;
  margin: 5px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;

}

#comp {
  background-image: url("assets/computer.svg");
}

#phone {
  background-image: url("assets/phone.svg");
}

.playlist-back-drop {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.playlist-back-drop h1 {
  font-size: 90px;
  margin-left: 10px;
}
.playlist-back-drop span {
  position: absolute;
  margin-top: 170px;
  margin-left: 380px;

}
#single-playlist {
  width: 80%;
  margin-left: 20%;
}
.tracks-heading {
  width: 80%;
}
.tracks-heading span {
  position: absolute;
  font-weight: bold;
}
.track-list {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  padding-top: 30px;
}
.track-play {
  position: absolute;
  z-index: 3;
  display: block;
  font-size: 23px;
  margin-left: 3px;
}
.tracks {
  background-color: rgba(20, 20, 20, 0.4);
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 20px;
}
.tracks hr {
  margin-top: 20px;
}
.track {
  width: 100%;
  height: 50px;
  list-style-type: none;
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  cursor: pointer;
}
.track:hover {
  background-color: rgba(190, 190, 190, 0.6);
}
.track span {
  position: absolute;
}
.track-art {
  margin-left: 4%;
}
.track-title {
  margin-left: 10%;
}
.track-artist {
  margin-left: 45%;
}

.track-duration {
  position: absolute;
  margin-left: 70%;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: 13px;
    background-color: #000402;
    border-right: 2px solid grey;
    position: fixed;
    bottom: 0;
    z-index: 20;
  }

  .screen {
    display: inline-block;
    color: azure;
    position: absolute;
  }

  .sidebar ul {
    display: flex;
    flex: wrap;
    z-index: inherit;
    margin: 0;
    padding: 0;
  }

  .oryn {
    display: none;
  }

  .sidebar ul li {
    list-style-type: none;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    margin-top: -40px;
  }

  .sidebar ul li b {
    display: none;
  }

  .sidebar ul span {
    position: relative;
    left: 0;
    /* margin-top: 5px;s */
  }

  .music-bar {
    position: fixed;
    bottom: 10%;
    z-index: 15;
    background-color: #232528;
    height: 2%;
    width: 100%;
  }

  .music-card {
    border-radius: 10px;
    width: 100%;
    height: 20px;
    background-color: rgba(53, 57, 61, 0.6);
    background-blend-mode: lighten;
    padding: 10px;
    margin: 15px;
    transition: .2s padding ease-out;
  }

  .music-card img {
    width: 38px;
    height: 38px;
  }

  .search-results {
    margin: 0;
    padding: 0;
  }

  #search-bar {
    background-color: azure;
    width: 360px;
    height: 40px;
    border-radius: 23px;
    border: none;
    position: fixed;
    margin-left: 50px;
    box-shadow: 0px 2px 8px 3px rgba(20, 20, 20, 0.6);
    z-index: 10;
  }

}
